textarea {
    min-height: 400px;
}
.read{
    background-color: rgba(237, 236, 236, 0.842);
}
.unread{
    background-color: rgba(255, 255, 255, 0.868);
}
.listings{
    border: .7px solid #333;
    padding: 1rem .7rem;
    cursor: pointer;
    transition: all ease-in-out .4s;
}
.listings:hover{
    background-color: rgb(218, 235, 255);
}
.listings:first-of-type{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: 2rem;
}
.listings:last-child{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
ul{
    list-style: none;
    padding: 0%;
}
.light{
    color: rgba(81, 81, 81, 0.603);
}
.container{
    font-size: 16px;
}
